<!DOCTYPE html>
<html>

    <head></head>

    <body>

        <form method="post" action="/checkout">
            <label for="item_name_1">Item to Purchase: </label>
                <input type="text" id="item_name_1" name="item">
                
            <button type="submit">submit</button>
        </form>

    </body>

</html>